wscompany/CompanyUserManagement.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.clarochile.cl/schemas" targetNamespace="http://webservices.clarochile.cl/schemas">
    <xsd:complexType name="CompanyUserType">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="id" type="xsd:long" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="clave" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="estadoClave" type="xsd:int" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="correo" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="ultimaRecuperacion" type="xsd:dateTime" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="fechaCreacion" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="fechaModificacion" type="xsd:dateTime" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="rutEmpresa" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="rutUsuario" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="rol" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="alias" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="nombre" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="cargo" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="fechaNacimiento" type="xsd:date" maxOccurs="1" minOccurs="0"/>

            <xsd:element name="numeroMovil" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="numeroFijo" type="xsd:string" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="serviciosMoviles" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="serviciosFijos" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
            
            <xsd:element name="setDatos" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="adminUsers" type="xsd:boolean" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="pcsAutorizados" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="accessType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WebServiceStatusType">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="status" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaginationType">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="pageSize" type="xsd:int" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="pageNumber" type="xsd:int" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="totalPages" type="xsd:int" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>